.landing-section {
    &:nth-child(2n) {
        background-color: $grey-background-color;
    }
    text-align: center;
    padding: 72px 10px 78px;
    h3 {
        margin: 0 auto;
        max-width: 740px;
        color: $main-text-color;
        padding-bottom: 42px;
    }
    .step {
        text-align: center;
        h4 {
            padding: 35px 0 12px;
        }
        img {
            max-width: 100%;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            padding: 0 10px;
            color: $light-text-color;
        }
    }
    .map {
        height: 520px;
        pointer-events: none;
        margin-bottom: -78px;
    }
    &.beyond {
        padding: 136px 20px 160px;
        h3 {
            text-align: left;
        }
        p {
            text-align: left;
            font-size: 15px;
            line-height: 24px;
        }
    }
    .device-icon {
        background-image: url(../assets/img/international_icon.3a91208928d9.png);
        display: block;
        width: 320px;
        height: 46px;
        background-position: -470px -520px;
        margin-top: 28px;
    }
}