nav {
    font-size: $base-font-size;
    &.navbar-default {
        background-color: #fff;
    }
    #nav-logo {
        display: inline-block;
        width: 92px;
        height: 18px;
        background-position: -20px 0;
        background-image: url(../assets/icons/icons.png);
        margin-top: 15px;
    }
    &>div.container {
        &::after,
        &::before {
            content: none;
        }
    }
}