@import 'normalize';
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'variables';
@import 'responsive';
@import 'typo';
//list scss
@import 'main-list';
@import 'nav';
@import 'trending-panel';
@import 'social-aside';
@import 'article';
@import 'labels';
@import 'modal';
//landing scss
@import 'landing-main';
@import 'landing-nav';
@import 'landing-banner';
@import 'landing-section';
@import 'landing-footer';
@import 'online';
.funcy-me {
    display: inline-block;
    cursor: pointer;
    &::before {
        display: inline-block;
        background-image: url(../assets/icons/funcy-default.png);
        background-size: 16px 16px;
        background-repeat: no-repeat;
        content: '';
        height: 16px;
        width: 16px;
        margin-top: -3px;
        margin-right: 5px;
        margin-bottom: -4px;
        margin-left: 0px;
    }
}

.funcy-logo {
    display: inline-block;
    width: 92px;
    height: 18px;
    background-position: -20px 0;
    background-image: url(../assets/icons/icons.png);
}

#cookies-bar {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-top: 1px solid $grey-background-color;
    transform: translateY(200px);
    transition: transform 0.5s;
    p {
        margin: 0;
    }
    &.show {
        transform: translateY(0px);
    }
}