<article class="panel anuncio-article">
    <div class="panel-body anuncio-body">
        <div class="anuncio-image">
            <picture>
                <source srcset="https://dummyimage.com/900x900/cccccc/ffffff.png&text=xs" media="(max-width: 768px)">
                <source srcset="https://dummyimage.com/900x900/cccccc/ffffff.png&text=sm" media="(min-width: 769px) and (max-width: 992px)">
                <source srcset="https://dummyimage.com/900x900/cccccc/ffffff.png&text=md" media="(min-width: 993px) and (max-width: 1200px)">
                <img class="img-responsive" src="https://dummyimage.com/900x900/cccccc/ffffff.png&text=lg">
            </picture>
        </div>
        <div class="anuncio-caption">
            <a href="#" class="anuncio-title">Title</a>
            <span class="label label-primary pull-right anuncio-price">$1,750</span>
        </div>
    </div>
    <div class="panel-footer">
        <a class="label label-default funcy-me anuncio-likes">
            17k
        </a>
    </div>
</article>